.post-container{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}
.post-block-style{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 25%;
    background: rgb(179, 224, 224);
    border: 1px solid black;
    box-shadow: 0 2px 2px 0 rgba(214, 237, 238, 0.007);
    margin: 10px;
    text-align: left;
    overflow: hidden;
    border-radius: 5px;
    padding: 5px;
}
.title-block-style{
    display: flex;
    justify-content: space-between;
}
.icon-style{
    display: flex;
}