.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* productlist page */

.banner {
  width: 100%;
  text-align: center;
}

.banner img {
  width: 100%;
}

.banner p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  padding: 10px;
}

#count {
  color: grey;
  font-size: 12px;
}

.prod-list {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list-item {
  margin: 20px;
  text-align: center;
}

.list-item img {
  width: 100%;
}

/* productdetail page */

.prod-desc {
  background-color: greenyellow;
  border: 3px dashed green;
  display: flex;
  justify-content: center;
}

.prod-desc h2 {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
